<table>
  <tr>
    <th>GameName</th>
    <th>Played Date</th>
    <th>Players</th>
  </tr>

  <% @sessions.each do |session| %>
      <tr>
        <td><%= session.game.name %></td>
        <td><%= session.played %></td>
        <td>
          <table>
            <% session.session_players.each do |player| %>
                <tr><td><%= player.player.name %> (<%= player.placing %>)</td></tr>
            <% end %>
          </table>
        </td>
      </tr>
  <% end %>

  <p><%= link_to 'New Session', new_session_path %></p>
</table>