<div>
  <h1><%= @game.name %></h1>
</div>

<div class="container">
  <div class="row"><%= @game.description %></div>
  <div class="row">
    <div class="col-md-1">Is Co-op?</div>
    <div class="col-md-1"><%= check_box_tag('co-op', @game.coop, @game.coop, disabled: true) %></div>
  </div>
  <div class="row">
    <div class="col-md-2">Number of plays:</div>
    <div class="col-md-2"><%= @played_count %></div>
  </div>
  <div class="row">
    <div class="col-xs-2">Most Wins:</div>
    <div class="col-xs-2"><%= @winning_player.name %></div>
    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-6">Stats</div>
        <div class="col-xs-6">Win %</div>
        <div class="col-xs-6"><%= @winner.wins %>/<%= @winner.plays %></div>
        <div class="col-xs-6"><%= @winner_percentage %>%</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">Least Wins:</div>
    <div class="col-xs-2"><%= @losing_player.name %></div>
    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-6">Stats</div>
        <div class="col-xs-6">Win %</div>
        <div class="col-xs-6"><%= @loser.wins %>/<%= @loser.plays %></div>
        <div class="col-xs-6"><%= @loser_percentage %>%</div>
      </div>
    </div>
  </div>
</div>